.phone, .email {float:left;	margin-right:25px;	font-size:13px;	color:#9aa1ac;margin-top: 15px;}
.email a {	transition: all 300ms;	-webkit-transition: all 300ms;	color:#9aa1ac;}
.email a:hover {	color:#fff;}